<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>

<body>
    <h1>PSLATE ORDER EXPORTER</h1>
    <div>
        <form method="GET" action="/sleeved-order-numbers">
            <button class="button-29" role="button"
                style="margin-bottom: 1em; width: 30%; text-align: center; font-size: 24px;">Sleeved
                Orders</button>
        </form>
        <form method="GET" action="/unsleeved-order-numbers">
            <button class="button-29" role="button"
                style="margin: auto; width: 30%; text-align: center; font-size: 24px;">Unsleeved
                Orders</button>
        </form>
    </div>
</body>

</html>
