<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{#allOrders}}
    <h1>#{{order_number}}</h1>
    <h2>{{created_at}}</h2>
    {{#line_items}}
    <h3>{{title}}</h3>
    {{#properties}}
    <p><b>{{name}}</b> {{value}}</p>
    {{/properties}}
    <img src={{design}} width="20%" />
    <p><b>Build instructions: {{instructions}}</b></p>
    {{/line_items}}
    {{/allOrders}}
</body>
<!--<script src="something"></script>-->

</html>
